body {
  font-family: 'Segoe UI', sans-serif;
  margin: 40px;
  text-align: center;
  background-color: #f2f2f2;
}

button {
  margin-left: 10px;
  cursor: pointer;
}
li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}